<h2  class="titulo" mat-dialog-title>Agregar Materia</h2>
    <div mat-dialog-content> 
        <form [formGroup]="materiasForm">
            
            <div class="row">
                
                <div class="col-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Materia</mat-label>
                        <input formControlName="materia" matInput>
                        <!-- <mat-error>{{nombreControl?.errors|validacione}}</mat-error>-->
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Dias y Horarios</mat-label>
                        <input formControlName="diasyhorarios" matInput>
                        <!-- <mat-error>{{apellidoControl?.errors|validacione}}</mat-error>-->
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Profesor</mat-label>
                        <input formControlName="profesor" matInput>
                        <!-- <mat-error>{{dniContro?.errors|validacione}}</mat-error>-->
                    </mat-form-field>
                </div>
                
                     
                    
            </div>
        </form>
        <!--{{userForm.value | json}}-->
    </div>
    
    <div class="d-flex justify-content-end" mat-dialog-actions>
        <button (click)="agregar()" mat-button>Agregar</button>
        <button mat-dialog-close="" mat-button>cancelar</button>
    </div>
