<div class="d-flex justify-content-end">
    <button (click)="openDialog()" mat-flat-button>Agregar Carrera</button>
  </div>
  
  <table mat-table [dataSource]="carreras" class="mat-elevation-z8">
  
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
  
  
    <!-- Name Column -->0
    <ng-container matColumnDef="carrera">
      <th  appTamano mat-header-cell *matHeaderCellDef> Carrera </th>
      <td mat-cell *matCellDef="let element"> {{element.carrera}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="cantidaddematerias">
      <th  appTamano mat-header-cell *matHeaderCellDef> Cantidad de Materias </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidaddematerias}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="titulo">
      <th  appTamano mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>
  
    
  
    <ng-container matColumnDef="opciones">
      <th  appTamano mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDialog(element)"
         mat-icon-button color="accent" ><mat-icon>edit</mat-icon></button>
        <button (click)="eliminar(element.carrera)"  mat-icon-button color="warn"><mat-icon>cancel</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>