<main>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Carreras</mat-card-title>
    </mat-card-header>                
    <img 
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6sMbTr4k3JOLP7rchhwixVejQztiMxRSTUTs-ih8103rDDYptFFPj2srI6wtylZR_p1s&usqp=CAU alt=">
    
    <mat-card-content>
        <p>
            Carga, modificacion y eliminacion de Carreras
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button routerLink="carreras" mat-flat-button color="warn">INGRESAR</button>
        </mat-card-actions>
      </mat-card>
      
      <mat-card>
        <mat-card-header>
        <mat-card-title>Materias</mat-card-title>
      </mat-card-header>
      <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw8Gzt2MD4HBeft_UyDz75LZJ8dm-KyQJuoxtca8U3YA&s">
      
      <mat-card-content>
          <p>
              Carga, modificacion y eliminacion de Materias
          </p>
        </mat-card-content>
      <mat-card-actions>
          <button mat-flat-button color="warn">INGRESAR</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card>
        <mat-card-header>
            
            <mat-card-title>Alumnos</mat-card-title>
            
        </mat-card-header>
        
        <img src="https://cdn-icons-png.flaticon.com/512/9972/9972270.png">
    
      <mat-card-content>
          <p>
              Carga, modificacion y eliminacion de Alumnos
          </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="warn">INGRESAR</button>
        
      </mat-card-actions>
    </mat-card>
 
    </main>
