
<mat-drawer-container class="example-container" autosize>

  
  <!--SIDEBAR-->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>CODERHOUSE</p>
    <div>
      <button  (click)="logIn()" class="iniSesion" mat-raised-button>
        Iniciar Sesion
      </button>
    </div>
    <div>
      <button routerLink="carreras" mat-raised-button>
        Carreras
      </button>
    </div>
    <div>
      <button routerLink="materias"  mat-raised-button>
        Materias
      </button>
    </div>
    <div>
      <button routerLink="alumnos" mat-raised-button>
        Alumnos
      </button>
    </div>
    <div>
      <button (click)="logOut()" class="cerrarSesion" mat-raised-button>
        Cerrar Sesion
      </button>
    </div>
  </mat-drawer>
  
  
  <!--CONTENIDO A LA DERECHA-->
  <div class="example-sidenav-content">
    <!--TOOLBAR SUPERIORx-->
    <mat-toolbar>
      <button
      (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><img class="logo" src="https://jobs.coderhouse.com/assets/logos_coderhouse.png" alt="logo coderhouse"></span>
    
    <div class="d-flex justify-content-end aling-item center w-100">
      @if(authUser$|async;as user){<div>{{user?.email}}</div>}
    </div>
  </mat-toolbar>
  
  <main style="padding: 1rem;">
    
      <router-outlet/>
    </main>
</div>  

  
  

</mat-drawer-container>